.idea
.local
_html
upload
tmp
frontend/.nuxt
frontend/dist
frontend/node_modules
frontend/src/site/static
frontend/src/admin/static
core/.env
core/.env.local
core/.phpunit.result.cache
core/vendor
core/report