.courses-list {
  .course {
    @extend .col-12;

    &.small {
      min-height: 250px;
      @extend .col-lg-6;
      padding: 0 10px;

      a {
        padding: 10px;
      }
    }

    &.big {
      height: 400px;

      a {
        padding: 20px;
      }

      @media (max-width: 768px) {
        height: calc(100vw / 2);
        a {
          padding: 10px;
        }
      }
    }

    a {
      height: 100%;
      display: block;
      color: $white;
      border-radius: 20px;
      background-size: cover;
      background-image: url('~assets/images/content/main/course-1.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }

    .tagline {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }

    .price {
      font-weight: 900;
      font-size: 20px;
      line-height: 19px;
    }
  }
}

.course__content {
  background-color: $white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0194766);
  border-radius: 50px 50px 20px 20px;
  margin: -250px auto 0;
  max-width: 1000px;
  padding: 30px 0;
  position: relative;
  z-index: 3;

  .reviews__wrap,
  .teacher__item {
    margin-bottom: 40px;
  }

  &--header {
    margin-bottom: 60px;

    .course-video {

      .video-link {
        position: relative;
        display: block;
        height: 400px;
        border-radius: 20px;
        background-size: cover;
        background-image: url('~assets/images/content/main/course-1.png');
        background-repeat: no-repeat;
        background-position: top center;
        .disabled {
          .play-button { display: none; }
        }
      }
    }

    .course__info {
      height: 100%;
      margin: 0 auto;
      max-width: 300px;

      &--top {
        position: relative;
        right: -40px;
        display: block;

        a {
          svg {
            color: $link-color;
          }

          &:hover {
            svg {
              color: $link-hover-color;
            }
          }
        }
      }

      &--pretop {
        span.count__lessons {
          margin: 15px 0;
          background-color: $lightGray;
          border-radius: 12.5px;
          color: $white;
          display: block;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          padding: 6px 11px 5px;
          text-align: center;
          text-transform: uppercase;
        }
      }

      &--body {
        flex-grow: 1;

        .course__title {
          font-weight: 600;
          font-size: 36px;
          line-height: 43px;
          margin-bottom: 10px;
          text-align: center;
        }

        .course__tagline {
          color: $pink;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          text-transform: uppercase;
        }
      }

      &--footer {
        //max-width: 300px;
        //margin: 0 auto;
        .course__dopinfo {
          .col {
            &:nth-child(2) {
              text-align: center;
            }

            &:nth-child(3) {
              text-align: right;
            }

            .text {
              color: $lightGray;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
            }

            svg {
              color: $pink;
              max-width: 16px;
            }
          }
        }
      }
    }
  }

  &--tabs {

    .description__wrap .text {
      font-weight: 200;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 60px;
    }

    .review__item {
      padding: 15px 0;
      border-bottom: 1px solid #F4F4F4;
      margin-bottom: 0;

      &:last-child {
        border-bottom: 0;
      }

      .wrap {
        position: relative;

        .review__item--photo {
          img, svg {
            max-width: 64px;
            height: auto;
          }
        }
      }

      a {
        color: $gray;

        &:hover {
          text-decoration: underline;
        }

        .review__item--title {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 4px;
        }
      }

      &--position {
        color: $lightPink;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
      }

      &--info {
        color: #383838;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
      }

      &--more {
        a.more_link {
          color: $lightGray;
          font-size: 14px;
          line-height: 17px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .teacher__item {
      border-bottom: 0;

      &--photo {
        margin-bottom: 20px;

        img {
          width: 144px;
          height: 144px;
        }
      }

      &--name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 5px;
      }

      &--position {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
      }

      &--text {
        font-weight: 200;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
  }

  &--options {
    position: relative;
    margin-bottom: 60px;

    .item__option {
      background: #F4F4F4;
      border-radius: 24px;
      height: 100px;
      width: 100px;
      margin-right: 20px;
      min-width: 100px;

      &:hover {
        cursor: pointer;

        &:last-child {
          .item__option--description {
            left: inherit;
            right: 0;
          }
        }

        .item__option--icon {
          display: none;
        }

        .item__option--description {
          transition: all 1s ease 0s;
          height: 110px;
          width: 232px;
          display: flex;
          align-items: center;
          z-index: 2;
          position: absolute;
          left: -3px;
          background: #E7FFE7;
          border-radius: 36px;

          .icon {
            background: #C7F6C8;
            box-shadow: 5px 5px 10px rgba(73, 151, 75, 0.281687);
            border-radius: 24px;
            display: flex;
            height: 75px;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            img {
              margin: 0 auto;
            }
          }

          .text {
            color: #383838;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &--icon {
      }

      &--description {
        display: none;
        padding: 12px;

        .icon {
          height: 100px;
          width: 100px;
          vertical-align: middle;
          line-height: 100px;
        }

        .text {
        }
      }
    }
  }

  &--process {
    margin-bottom: 60px;

    .col-12 {
      .process__item {
        &:nth-child(3) {
          border: 1px solid #B2D9FF;

          &::after {
            display: none !important;
          }
        }
      }
    }

    .process__item {
      width: 260px !important;
      height: 260px;
      padding: 40px 33px;
      border-radius: 37.2687px;
      border: 1px solid $lightPink;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
      position: relative;

      //noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget,CssUnknownTarget
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 105px;
        height: 80px;
        top: 35%;
        right: -32%;
        background: url(~assets/images/general/ic_procces_after.svg) no-repeat;
        background-size: 100% 100%;
      }

      &.color-1 {
        border: 1px solid #B0EEC3;

        .process__item--number {
          color: #B0EEC3;
        }
      }

      &.color-2 {
        border: 1px solid #B2D9FF;

        &::after {
          display: none;
        }

        .process__item--number {
          color: #B2D9FF;
        }
      }

      &--number {
        position: absolute;
        //font-family: 'montserrat', sans-serif;
        font-weight: 900;
        font-size: 141.828px;
        line-height: 21px;
        color: #FFB6B6;
        mix-blend-mode: normal;
        opacity: 0.2;
        top: 40%;
        left: 30px;
      }

      &--body {
        .title {
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          margin-bottom: 20px;
        }

        .text {
          color: #383838;
          font-size: 14.4934px;
          line-height: 17px;
        }
      }
    }
  }

  .palitra__info {
    &--title {
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 5px;
    }

    &--count {
      color: $lightPink;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &--text {
      font-weight: 200;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
  }

  .steps__wrap {
    background: linear-gradient(127.3deg, #FFB9B9 1.18%, #F7C9FF 101.5%);
    border-radius: 0 0 54px 54px;
    padding: 32px 30px;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 25px;

    .nav-tabs {
      border-bottom: 0;

      .nav-item {
        margin-right: 60px;

        .nav-link {
          font-weight: 600;
          font-size: 21px;
          line-height: 25px;
          color: rgba(255, 255, 255, 0.4);
          cursor: pointer;
          margin-right: 0;
          padding: 4px 24px;

          &.active {
            background: $white;
            border-radius: 30px;
            color: $lightPink;

            &::before {
              display: none;
            }

            &:hover {
              opacity: .8;
            }
          }

          &.disabled {
            position: relative;

            //noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget,CssUnknownTarget
            &::before {
              position: absolute;
              content: '';
              display: block;
              width: 10px;
              height: 15px;
              top: 30%;
              left: 10px;
              background: url(~assets/images/general/ic_locked.svg) no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
    }

    .tab-content {
      .step__wrap {

        .step__description {
          font-size: 16px;
          color: $white;
          line-height: 19px;
          margin-bottom: 30px;
        }

        .lessons__list {
          margin-bottom: 30px;

          .lesson__item {
            margin-bottom: 30px;

            &.viewed {
              .lesson__item--video .lesson__video--thumb {
                opacity: 0.5;
              }

              &:hover {
                .lesson__item--video .lesson__video--thumb {
                  opacity: 0.8;
                }
              }
            }

            &--video {
              margin-bottom: 20px;
              position: relative;
              display: block;
              &:hover {
                opacity: 0.8;
                a {
                  cursor: pointer;
                }
              }
              img {
                border-radius: 20px;
              }
              a {
                @include play-button;
                transition: opacity 0.3s;
              }
              .disabled {
                @include lock-button;
              }
            }

            &--info {
              color: $white;
              font-size: 14px;
              line-height: 17px;
              padding: 0 10px;
            }
          }
        }
      }

      .home__work {
        background: #FFFFFF;
        border-radius: 48px;
        padding: 20px;

        &--img {
          position: relative;
          margin-top: -40px;
          margin-bottom: 20px;
        }

        &--title {
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          margin-bottom: 5px;
          text-align: center;
        }

        &--count {
          color: $lightPink;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 20px;
          text-transform: uppercase;
        }

        &--text {
          font-weight: 200;
          font-size: 16px;
          line-height: 19px;
          margin: 0 auto 50px;
          max-width: 460px;
          text-align: center;
        }

        form.homeWork {
          padding-bottom: 20px;

          input {
            display: none;
          }

          label {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            &::before {
              position: absolute;
              display: block;
              content: 'Прикрепить фото';
              background: $lightPink;
              border-radius: 30px;
              border: 0;
              color: $white;
              cursor: pointer;
              height: 60px;
              font-size: 16px;
              line-height: 19px;
              padding: 20px 60px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  //noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget,CssUnknownTarget
  .bonus__lesson {
    background: url(~assets/images/general/bg_bonus.png) no-repeat top center;
    background-size: cover;
    height: 100%;
    position: relative;

    &--wrap {
      max-width: 460px;
      margin: 0 auto;
    }

    &--thumb {
      .ic__star-gold {
        width: 64px;
        height: 64px;
      }
    }

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    &--text {
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
    }

    &--video {
      margin-bottom: 20px;
      position: relative;
      display: block;
      .disabled {
        @include lock-button;
      }
      .bonus__lesson--thumb {
        border-radius: 20px;
        //opacity: .5;
      }
      a {
        cursor: pointer;
        @include play-button;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .btn__buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9BB5F3;
    border-radius: 10px;
    border: 0;
    color: $white;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    &:hover {
      background: rgb(101, 143, 240);
    }
  }
  .btn__play {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $lightGreen;
    border-radius: 10px;
    border: 0;
    color: $white;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 100%;

    &:hover {
      background: #2fd8aa;
    }
  }
}

@media (max-width: 991px) {
  .course__content {
    .course__content--header {
      .course__info {
        max-width: 100%;
        .course__info--pretop, .course__info--body, .course__info--footer {
          max-width: 300px;
          margin: auto;
        }
      }
      .course-video {
        position: relative;
        margin-top: -130px;


        .video-link {
          margin: 0 auto;
          max-width: 70%;
          height: 200px;

          .video__thumb.desktop {
            display: none;
          }

          .video__thumb.mobile {
            display: block;
            margin: 0 auto;
          }
        }
      }

      .course__info--top {
        right: auto;
        margin-top: -45px;
      }

      .course__info--body .course__tagline {
        margin-bottom: 35px;
      }

      .courses_list .tab__wrap--scroll {
        .item .item__bottom .price {
          display: block !important;
        }
      }
    }

    .course__content--options .item__option .course__content--tabs {
      .tab__wrap--scroll {
        padding-left: 0;
        padding-right: 0;

      }

      .description__wrap .text {
        line-height: 19px;
      }
    }

    .review__item {
      .review__item--photo {
        width: 64px;
        height: 64px;
        margin-bottom: 0;
      }
    }

    .button {
      padding-left: 50px;
      padding-right: 50px;
    }

    .steps__wrap {
      margin-left: -15px;
      margin-right: -15px;

      .tab-content {

        .home__work {
          &--title {
            line-height: 30px;
            margin-bottom: 10px;
          }
        }
      }

      .nav-tabs .nav-item {
        margin-right: 30px;
      }
    }
  }

  .palitra {
    &__info {
      order: 2;
      margin-bottom: 60px;
    }

    &__img {
      order: 1;
      margin: -30px auto;
    }
  }

  .step__wrap {

    .step__description {
      margin-bottom: 30px;
    }

    .lessons__list {
      .lesson__item {
        &--video {
          flex-basis: 50%;
          margin-bottom: 0 !important;
        }

        &--info {
          flex-basis: 50%;
        }
      }
    }
  }

  .course__content--process {

    .process__item {
      width: 240px !important;
      height: 240px;
      padding: 25px 25px;

      &::after {
        right: -35%;
      }
    }
  }
}

@media (max-width: 425px) {
  .course__content--process {
    .m-width-80 {
      max-width: 90%;
    }
  }
}
