.diplomsList {
  flex-direction: row;
  align-items: stretch;
}

.diploam__item {
  padding-bottom: 17px;
  border-bottom: 0.5px solid #F4F4F4;
  margin-bottom: 20px;

  .diploam__info {

    &--title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      width: 300px;
      height: 90px;
      display: flex;
      align-items: flex-end;
    }

    &--link {
      color: $lightGray;
      font-size: 14px;
      line-height: 17px;
      margin-left: 20px;
      position: relative;

      //noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget,CssUnknownTarget
      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 14px;
        height: 17px;
        left: -20px;
        bottom: 0;
        background: url(~assets/images/general/ic_download.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .diploam__item {
    .diploam__info {
      &--title {
        width: 90%;
        height: auto;
      }
    }
  }
}