section.about__info {
  margin-bottom: 60px;

  /*.about__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
  }*/
}

section.subscription {
  .container {
    max-width: 100%;
  }

  //noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget,CssUnknownTarget
  .subscription__wrapper {
    background: url(~assets/images/general/subscription.png) no-repeat;
    background-size: cover;
    padding-top: 37px;
    padding-bottom: 120px;
    margin-bottom: -20px;

    .subscription__info {
      color: $white;

      &--headtitle {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        margin-bottom: 12px;
        text-transform: uppercase;
      }

      &--title {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
      }

      &--text {
        font-weight: 200;
        font-size: 16px;
        line-height: 20px;
        max-width: 370px;
      }
    }

    .subscription-form {
      label {
        position: relative;
        display: flex;
        align-items: center;
        input[type="email"] {
          position: relative;
          border-radius: 25px;
          background: rgba(255, 255, 255, 0.6);
          border: 0;
          color: $gray;
          padding: 15px 60px 15px 30px;

          &::placeholder {
            color: $white;
          }
        }

        button {
          position: absolute;
          right: 10px;
          font-size: 26px;
          color: $lightPink;
          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .m-width-80 {
    max-width: 80%;
  }

  section.about__info .about__text {
    margin-bottom: 60px;
  }

  .custom-dots {
    margin-top: 10px;
  }

  section.subscription {
    .subscription__wrapper {
      padding-top: 20px;

      .subscription__info {
        &--text {
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
