.lesson__info {
  margin-bottom: 60px;

  &--description {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
  }

  &--like a {
    font-weight: 600;
    font-size: 14px;
    color: $lightGray;
    line-height: 17px;
  }

  &--note {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
  }
}

a.button {
  color: $white;
  display: block;
  line-height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 220px;
  padding-bottom: 20px;
}

.s-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.what__is__needed {
  margin-bottom: 40px;

  .s-title {
    margin-bottom: 0;
  }

  .needed__list--wrapper {
    margin-bottom: 30px;

    .needed__item {
      background: #EAEAEA;
      border-radius: 10px;
      margin-bottom: 2px;
      padding: 10px 10px 10px 26px;
      flex-basis: 49%;
      position: relative;

      &::before {
        position: absolute;
        content: 'b';
        display: block;
        left: 10px;
        border-left: 3px solid #4BBFDC;
        font-weight: 200;
        font-size: 20px;
        text-indent: -99999999px;
      }

      &--title {
        font-size: 16px;
      }

      &--cart {
        border: 0;
        background: $white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.0649858);
        border-radius: 6px;
        cursor: pointer;
        height: 40px;
        width: 40px;
        transition: background 0.3s ease;

        &:hover {
          background: #f3f3f3;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .download__materials {
    a {
      margin: 0 auto;
    }
  }
}

.teacher__content {

  .teacher__detail--wrap {
    .teacher__info--photo {
      img {
        max-width: 144px;
        max-height: 144px;
      }

      .label__shape::before {
        width: 30px;
        height: 30px;
        top: -10px;
        right: 10px;
      }
    }

    .teacher__info--position {
      margin-bottom: 20px;
    }

    .teacher__text {
      text-align: center;
      font-size: 17px;
      line-height: 20px;
      max-width: 460px;
      margin: 0 auto 60px;
    }
  }

}

section.science__content {
  background: #CFE8E5;
  border-radius: 30px;
  margin-bottom: 60px;

  .wrapper__science {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;

    .science__content--img {
      margin-bottom: 5px;
    }

    .science__content--pretitle {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      color: #35A3BF;
      margin-bottom: 10px;
    }

    .science__content--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
      color: #FFFFFF;
    }

    .science__content--text {
      font-weight: 200;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      max-width: 460px;
      margin: 0 auto 30px;
    }

    .science__content--video {
      position: relative;
      display: block;
      cursor: pointer;
      /*&:hover {
        opacity: 0.8;
      }*/
      //@include play-button;

      .bonus__lesson--thumb {
        border-radius: 20px;
      }
    }
  }

}

section.lesson__content--bottom {
  svg {
    cursor: pointer;
  }
  .comment-form {
    margin-right: 3px;
    textarea {
      height: 100px;
      resize: none;
      padding-right: 45px;
      margin-right: -40px;
    }
    .comment-buttons {
      //position: absolute;
      position: relative;
      margin-right: 10px;
      svg {
        cursor: pointer;
        font-size: 25px;
        color: $lightPink;
        &:hover {
          color: $pink;
        }
      }
      .cancel {
        position: absolute;
        top: -38px;
        right: -10px;
        font-size: 20px;
      }
      .send {
        font-size: 30px;
      }
    }
  }
  .comments__content {
    .message__item {
      &:last-child {
        border-bottom: 0;
      }

      .comment-body {
        border-radius: 10px;
        padding: 5px;
        background-color: #f5f5f5;
        &.owner {
          color: #0c5460;
          background-color: #d9faff;
          border-color: #bee5eb;
        }
        &.review {
          color: #155724;
          background-color: #d4edda;
          border-color: #c3e6cb;
        }
        &.deleted {
          color: #856404;
          background-color: #fff3cd;
          border-color: #ffeeba;
        }
      }

      &--info {
        white-space: pre-line;
        max-width: 100%;
        margin-bottom: 10px;
      }

      .btn__answer {
        background: transparent;
        border: 0;
        font-size: 12px;
        color: $lightPink;
        line-height: 14px;
        padding: 0;

        &:hover {
          color: $pink;
          transition: color 0.3s;
        }

        &:focus {
          outline: 0;
        }
      }

    }

    .btn-more {
      margin-top: 20px;
    }
  }

  .nextlessons__content {
    .media--video {
      position: relative;
      display: block;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      a {
        @include play-button;
      }

      .media--thumb {
        border-radius: 10px;
        transition: opacity 0.3s;
      }
    }

    .media-body {
      font-size: 14px;
      margin: auto;
    }
  }
}


@media (max-width: 768px) {
  .lesson__info {
    margin-bottom: 40px;

    &--description {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &--like {
      margin-bottom: 30px;
    }

    &--share a {
      margin: 0 auto;
    }
  }

  .what__is__needed {
    .needed__list--wrapper {
      margin-bottom: 20px;

      .needed__item {
        flex-basis: 100%;
      }
    }
  }

  .teacher__content .teacher__detail--wrap .teacher__text {
    margin-bottom: 30px;
  }

  section.lesson__content--bottom .comments__content .btn-more {
    display: block;
    margin: 20px auto 40px;
  }
}
