@mixin thumb-icon($icon) {
  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url($icon) no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }
}

@mixin play-button() {
  @include thumb-icon('~assets/images/general/ic_play_btn.svg')
}

@mixin lock-button() {
  @include thumb-icon('~assets/images/general/ic_locked.svg')
}
