// Colors
$black: #000;
$white: #fff;
$gray: #3C3C3C;
$lightestGray: #F6F6F6;
$lightGray: #C3C3C3;
$lightPink: #FFB6B6;
$pink: #FF7474;
$lightGreen: #84E3C9;

$primary: #be5f5f;
$link-color: $lightPink;

// Sizes
$base-font-size: 16px;

//Input
$input-padding-x: 1.2rem;
$input-padding-y: 1rem;
$input-color: #757474;
$input-border-color: #DEDEDE;
$input-border-radius: 10px;

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;

$modal-backdrop-bg: rgba($white, .8);
//$modal-backdrop-opacity: .9;

$modal-xl: 1140px;
$modal-lg: 800px;
$modal-md: 500px;
$modal-sm: 300px;

// Fonts
$default-font: 'sfprodisplay', sans-serif;
$box-shadow: 0 .5rem 1rem rgba($black, .15);
