.CoursesList {
  .item {

    &.big {
      .item__body {
        padding: 20px;

        .tagline {
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 10px;
        }

        .title {
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .CoursesList {
    .item {
      .item__bottom {
        .ic__heart {
          display: none;
        }

        .price {
          display: block;
        }
      }
    }
  }
}
