.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 100%;

  .wrapper__bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

    &.bg_600 {
      height: 600px;
    }

    &-shadow {
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      width: 100%;
      height: 500px;
      position: relative;

      form {

        label {
          position: absolute;
          cursor: pointer;
          bottom: 0;
          right: 0;

          input {
            display: none;
          }

          //noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget,CssUnknownTarget
          &::before {
            position: absolute;
            display: block;
            content: '';
            width: 36px;
            height: 30px;
            right: 40px;
            bottom: 25px;
            background: url(~assets/images/general/ic_photo.svg) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }

    &::before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      content: '';
      height: 200px;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 3;
    }

    .ic__play--white {
      position: relative;
      display: block;
      width: 130px;
      height: 130px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 130px;
        height: 130px;
        background: url(~assets/images/general/ic_play--white.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .wrapper__bg {

      .ic__play,
      .ic__play--white {
        width: 110px;
        height: 110px;

        &::before {
          width: 110px;
          height: 110px;
        }
      }
    }
  }
}
