@mixin thumb-icon($icon) {
  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url($icon) no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    opacity: .5;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

@mixin play-button() {
  @include thumb-icon('~assets/images/general/ic_play_btn.svg')
}

@mixin lock-button() {
  @include thumb-icon('~assets/images/general/ic_locked.svg')
}

@mixin size($a, $b: $a) {
  width: $a;
  height: $b;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}

@mixin font-face($font-family, $file-path, $display: auto, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: $display;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype');
  }
}
