.block_ {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_1 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_2 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_3 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_4 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_5 {
  color: black;
  display: table-row;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_6 {
  color: black;
  display: table-row;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_7 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_8 {
  display: table-row;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_9 {
  display: block;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_10 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_11 {
  display: table-row;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_12 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 7.05pt
}

.block_13 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 7.05pt
}

.block_14 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_15 {
  color: black;
  display: table-row;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_16 {
  color: black;
  display: table-row;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_17 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_18 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_19 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0
}

.block_20 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_21 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_22 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_23 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 20.2pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_24 {
  color: black;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_25 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_26 {
  color: black;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_27 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_28 {
  color: black;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_29 {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_30 {
  color: black;
  display: block;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_31 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 54pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_32 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_33 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0
}

.block_34 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_35 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center
}

.block_36 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_37 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0
}

.block_38 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center
}

.block_39 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center
}

.block_40 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: -28.4pt
}

.block_41 {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_42 {
  color: black;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

.block_43 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}

.block_44 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}

.block_45 {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_46 {
  color: black;
  display: block;
  margin-bottom: 6pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}

.block_47 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}

.block_48 {
  color: black;
  display: block;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}

.block_49 {
  color: black;
  display: list-item;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}

.block_50 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}

.block_51 {
  color: black;
  display: list-item;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}

.block_52 {
  color: black;
  display: block;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}

.block_53 {
  color: black;
  display: block;
  margin-bottom: 6pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}

.block_54 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 6pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}

.bullet_ {
  display: table-cell;
  font-weight: bold
}

.calibre {
  color: #000;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0
}

.calibre1 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 28.4pt;
  padding-right: 0;
  padding-top: 0
}

.calibre2 {
  display: table-cell
}

.calibre3 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 20.2pt;
  padding-right: 0;
  padding-top: 0
}

.calibre4 {
  display: block
}

.calibre5 {
  font-weight: bold
}

.calibre6 {
  white-space: pre-wrap
}

.list_ {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}

.list_1 {
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}

.text_ {
  color: #0563C1;
  text-decoration: underline
}

.text_1 {
  font-weight: bold
}

.text_2 {
  font-family: "Times New Roman", serif;
  font-size: 1.33333em
}

.text_3 {
  font-family: "Calibri", sans-serif;
  font-size: 1em
}

.text_4 {
  color: #000;
  font-family: "Times New Roman", serif;
  font-size: 1.33333em
}

.text_5 {
  color: black;
  font-family: "Calibri", sans-serif;
  font-size: 1em
}

.text_6 {
  color: #000
}

.text_7 {
  color: #0563C1;
  font-family: "Times New Roman", serif;
  font-size: 1.33333em;
  text-decoration: underline
}

.text_8 {
}

.text_9 {
  color: #000;
  font-size: 1.33333em
}

.text_10 {
  color: #0563C1;
  font-size: 1.5em;
  line-height: 1.2;
  text-decoration: underline
}

.text_11 {
  color: black;
  font-size: 1.33333em
}

.text_12 {
  font-size: 1.33333em;
  font-weight: bold
}

.text_13 {
  font-size: 1.33333em
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt
}
